# Data Manipulation with Pandas

The following code consists of code snippets and general notes within the Python Data Science Handbook by Jake VanderPlas.

We will focus on Series and DataFrame objects.

In [1]:
import pandas
pandas.__version__

'0.24.2'

In [2]:
import pandas as pd
import numpy as np

## Introducing Pandas Objects

**Series**, **DataFrame**, **Index**

### The Pandas Series Object

**one dimensional array of indexed data**

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values  # a familiar NumPy array

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index  # a pd.Index object

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Series as generalized NumPy Array

The difference between a `Series` object and a one-dimensional Numpy array is the presence of the index.

- The numpy array has an ***implicitly defined*** integer index
- The `Series` object has an ***explicitly defined*** index associated with values, such as any defined type like using strings as an index

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data[5]

0.5

### Series as specialized dictionary

- "A dictionary is a structure that maps arbitrary keys to a set of arbitrary values"
- "A `Series` is a structure that maps ***typed keys*** to a set of ***typed values***.

This type-specific code makes `Series` objects more efficient than Python dictionaries

In [11]:
population_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

A `Series` will be created by drawing the index from sorted keys

In [12]:
population['California']

38332521

In [13]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series Objects

- `pd.Series(data)`
- `pd.Series(data, index=index)`
- `pd.Series(dictionary)`

In [14]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'})  # keys will be sorted

2    a
1    b
3    c
dtype: object

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])  # choosing indices

3    c
2    a
dtype: object

### The Pandas Data Frame Object

Could be a generalization of a NumPy array, or a specialization of a Python dictionary

#### Dataframe as a generalized numpy array

- a `DataFrame` is analogous to a 2-D array with both flexible row indices and column names
- a `DataFrame` is like a sequence of aligned `Series` objects

In [18]:
area_dict = {'California': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [19]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [20]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [21]:
states.columns

Index(['population', 'area'], dtype='object')

In [22]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

#### Constructing Dataframe Objects

In [23]:
# From a single Series Object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [24]:
# From a list of dicts
data = [{'a': i, 'b': 2 * i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [25]:
# Filled NAs
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [26]:
# From a dictionary of Series objects
pd.DataFrame({'population': population,
             'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [27]:
# From a 2-D Numpy array
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.522033  0.999202
b  0.440678  0.823303
c  0.349498  0.892599

In [28]:
# From a Numpy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

### The Pandas Index Object

- Can be thought of as an ***immutable array*** or as an ***ordered set*** or ***multiset*** since duplicate indices can exist

In [29]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

#### Index as an immutable array

In [30]:
ind[1]

3

In [31]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [32]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [33]:
ind[1] = 0

TypeError: Index does not support mutable operations

#### Index as ordered set

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB  # intersection

In [ ]:
indA | indB  # union

In [ ]:
indA ^ indB  # symmetric difference

## Data Indexing and Selection

### Data Selection in Series

#### Series as Dictionary

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

In [ ]:
'a' in data

In [ ]:
data.keys()

In [ ]:
list(data.items())

In [ ]:
data['e'] = 1.25
data

#### Series as 1-D Array

In [ ]:
data['a':'c']

In [ ]:
data[0:2]

In [ ]:
data[(data > 0.3) & (data < 0.8)]

In [ ]:
data[['a', 'e']]

### Indexers: loc, iloc, and ix

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

In [ ]:
# explicit indexing
data[1]

In [ ]:
# implicit index when slicing
data[1:3]

The `loc` attribute allows indexing and slicing that always references the explicit index

In [ ]:
data.loc[1]

In [ ]:
data.loc[1:3]

The `iloc` attribute allows indexing and slicing that references the implicit Python-style index

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[1:3]

### Data Selection in DataFrame

#### Dataframe as a Dictionary

In [ ]:
area = pd.Series({'California': 423967,
                 'Texas': 695662,
                 'New York': 141297,
                 'Florida': 170312,
                 'Illinois': 149995})
pop = pd.Series({'California': 38332521,
                'Texas': 26448193,
                'New York': 19651127,
                'Florida': 19552860,
                'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})
data

In [ ]:
data['area']

In [ ]:
data.area

In [ ]:
data['density'] = data['pop'] / data['area']
data

#### Dataframe as 2-D Array

In [ ]:
data.values

In [ ]:
data.T

In [ ]:
data.values[0]  # access a row

In [ ]:
data['area']  # access a column

In [ ]:
data.iloc[:3, :2]  # access like a NumPy array

In [ ]:
data.loc[:'Illinois', :'pop']  # access by names

In [ ]:
data.ix[:3, :'pop']  # combination of the two

In [ ]:
data.loc[data.density > 100, ['pop', 'density']]

In [ ]:
data.iloc[0, 2] = 90
data

#### Additional Indexing Conventions

- ***indexing*** refers to columns, ***slicing*** refers to rows

In [ ]:
data['Florida':'Illinois']

In [ ]:
data[1:3]

In [ ]:
data[data.density > 100]

## Operating on Data in Pandas

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                 columns=['A', 'B', 'C', 'D'])
df

In [ ]:
# preserve indices
np.exp(ser)

In [ ]:
np.sin(df * np.pi / 4)

In [ ]:
# index alignment in series
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                 'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                       'New York': 19651127}, name='population')

In [ ]:
population / area
# result contains union of indices of the two input arrays
# area.index | population.index

In [ ]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

In [ ]:
# fill missings with 0
A.add(B, fill_value=0)

### Index alignment in dataframe

In [ ]:
A = pd.DataFrame(rng.randint(0, 20, (2,2)),
                columns=list('AB'))
A

In [ ]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                columns=list('BAC'))
B

In [ ]:
A + B

In [ ]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

### Operations between DataFrame and Series

In [ ]:
A = rng.randint(10, size=(3, 4))
A

In [ ]:
A - A[0]

In [ ]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

In [ ]:
# subtract column
df.subtract(df['R'], axis=0)

In [ ]:
halfrow = df.iloc[0, ::2]
halfrow

In [ ]:
df - halfrow

## Handling Missing Data

Pandas uses sentinels for missing data and uses two Python null values: `NaN` and `None`.

### None

- Can only be used in array with data type 'object', - arrays of Python objects and not in arbitrary NumPy/Pandas array

In [ ]:
vals1 = np.array([1, None, 3, 4])
vals1

`dtype=object` means the best common type representation NumPy could infer for array contents is that they are Python objects

- Therefore, additional overhead in computations

In [ ]:
for dtype in ['object', 'int']:
    print('dtype =', dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

In [ ]:
vals1.sum()  # error since None within array of Python object

### Nan: Missing Numerical Data

In [ ]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

This means fast computations

In [ ]:
1 + np.nan

In [ ]:
np.nan

In [ ]:
vals2.sum(), vals2.min(), vals2.max()

In [ ]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

#### Nan and None in Pandas

In [ ]:
pd.Series([1, np.nan, 2, None])

In [ ]:
x = pd.Series(range(2), dtype=int)
x

In [ ]:
# automatic type cast to np.nan
x[0] = None
x

#### Operating on Null Values

- `isnull()`
    - Generate boolean mask indicating missing values
- `notnull()`
    - Opposite of `isnull()`
- `dropna()`
    - Return filtered version of the data
- `fillna()`
    - Return copy of data with missing values filled or imputed

#### Detecting Null values

In [ ]:
data = pd.Series([1, np.nan, 'hello', None])

In [ ]:
data.isnull()

In [ ]:
data[data.notnull()]

#### Dropping Null Values

In [ ]:
data.dropna()

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, 5],
                  [np.nan, 4, 6]])
df

In [ ]:
df.dropna()  # drops all rows with NAs present

In [ ]:
df.dropna(axis='columns') # drop columns

In [ ]:
df[3] = np.nan
df

In [ ]:
df.dropna(axis='columns', how='all')  # drop with all NAs

In [ ]:
df.dropna(axis='rows', thresh=3)  # min of non-nulls to keep

#### Filling Null Values

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

In [ ]:
data.fillna(0)

In [ ]:
# forward-fill
data.fillna(method='ffill')

In [ ]:
# back-fill
data.fillna(method='bfill')

In [ ]:
df

In [ ]:
df.fillna(method='ffill', axis=1)

## Hierarchical Indexing

- Explore `MultiIndex` objects
    - indexing, slicing, stats across multiply indexed data

### The Bad Way

In [34]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [35]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

### The Better Way: Pandas MultiIndex

In [36]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [37]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [38]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

### MultiIndex as Extra Dimension

In [39]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [40]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [41]:
# add another column for each state at each year
pop_df = pd.DataFrame({'total': pop,
                      'under18': [9267089, 9284094,
                                  4687374, 4318033,
                                  5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [44]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

### Methods of MultiIndex Creation

In [45]:
df = pd.DataFrame(np.random.rand(4, 2),
                 index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns=['data1', 'data2'])
df

        data1     data2
a 1  0.195297  0.269652
  2  0.885567  0.175184
b 1  0.829741  0.003939
  2  0.692618  0.066039

In [46]:
# dictionary with tuples as keys
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

### Explicit MultiIndex Constructors

In [47]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [48]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [49]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [51]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

### MultiIndex Level Names

In [52]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### MultiIndex for Columns

In [57]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                  names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFramw
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      30.0  37.6  27.0  37.3  34.0  36.1
     2      35.0  34.4  35.0  36.9  29.0  35.3
2014 1      28.0  36.5  31.0  38.1  41.0  36.3
     2      33.0  39.4  30.0  37.4  30.0  37.3

In [58]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      27.0  37.3
     2      35.0  36.9
2014 1      31.0  38.1
     2      30.0  37.4

### Indexing and Slicing a MultiIndex

In [59]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [60]:
pop['California', 2000]

33871648

In [61]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [62]:
pop.loc['California': 'New York']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [63]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [64]:
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [65]:
pop[['California', 'Texas']]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

#### Multiply indexed DataFrames

In [66]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      30.0  37.6  27.0  37.3  34.0  36.1
     2      35.0  34.4  35.0  36.9  29.0  35.3
2014 1      28.0  36.5  31.0  38.1  41.0  36.3
     2      33.0  39.4  30.0  37.4  30.0  37.3

In [68]:
health_data['Guido', 'HR']

year  visit
2013  1        27.0
      2        35.0
2014  1        31.0
      2        30.0
Name: (Guido, HR), dtype: float64

In [69]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        30.0
      2        35.0
2014  1        28.0
      2        33.0
Name: (Bob, HR), dtype: float64

In [71]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      30.0  27.0  34.0
2014 1      28.0  31.0  41.0

### Rearranging Multi-Indices

#### Sorted and Unsorted Indices|

In [72]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

char  int
a     1      0.746186
      2      0.604524
c     1      0.344848
      2      0.897316
b     1      0.442113
      2      0.592722
dtype: float64