# Data Manipulation with Pandas

The following code consists of code snippets and general notes within the Python Data Science Handbook by Jake VanderPlas.

We will focus on Series and DataFrame objects.

In [1]:
import pandas
pandas.__version__

'0.24.2'

In [2]:
import pandas as pd
import numpy as np

## Introducing Pandas Objects

**Series**, **DataFrame**, **Index**

### The Pandas Series Object

**one dimensional array of indexed data**

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values  # a familiar NumPy array

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index  # a pd.Index object

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Series as generalized NumPy Array

The difference between a `Series` object and a one-dimensional Numpy array is the presence of the index.

- The numpy array has an ***implicitly defined*** integer index
- The `Series` object has an ***explicitly defined*** index associated with values, such as any defined type like using strings as an index

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data[5]

0.5

### Series as specialized dictionary

- "A dictionary is a structure that maps arbitrary keys to a set of arbitrary values"
- "A `Series` is a structure that maps ***typed keys*** to a set of ***typed values***.

This type-specific code makes `Series` objects more efficient than Python dictionaries

In [11]:
population_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

A `Series` will be created by drawing the index from sorted keys

In [12]:
population['California']

38332521

In [13]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series Objects

- `pd.Series(data)`
- `pd.Series(data, index=index)`
- `pd.Series(dictionary)`

In [14]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'})  # keys will be sorted

2    a
1    b
3    c
dtype: object

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])  # choosing indices

3    c
2    a
dtype: object

### The Pandas Data Frame Object

Could be a generalization of a NumPy array, or a specialization of a Python dictionary

#### Dataframe as a generalized numpy array

- a `DataFrame` is analogous to a 2-D array with both flexible row indices and column names
- a `DataFrame` is like a sequence of aligned `Series` objects

In [18]:
area_dict = {'California': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [19]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [20]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [21]:
states.columns

Index(['population', 'area'], dtype='object')

In [22]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

#### Constructing Dataframe Objects

In [23]:
# From a single Series Object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [24]:
# From a list of dicts
data = [{'a': i, 'b': 2 * i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [25]:
# Filled NAs
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [26]:
# From a dictionary of Series objects
pd.DataFrame({'population': population,
             'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [27]:
# From a 2-D Numpy array
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.672431  0.838471
b  0.367844  0.857893
c  0.067581  0.837414

In [28]:
# From a Numpy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

### The Pandas Index Object

- Can be thought of as an ***immutable array*** or as an ***ordered set*** or ***multiset*** since duplicate indices can exist

In [29]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

#### Index as an immutable array